/**
 * \file rc.h
 * \date Mar 11, 2016
 */

#ifndef AKMALLOC_RC_H
#define AKMALLOC_RC_H

#define AKMALLOC_MAJOR_VER    @akmalloc_major@
#define AKMALLOC_MINOR_VER    @akmalloc_minor@
#define AKMALLOC_PATCH_VER    @akmalloc_patch@

/*
 * Revision history:
 *
 * 0.0.1: Initial commit
 */

#endif/*AKMALLOC_RC_H*/
